/* --- global styles --- */

/* flexible images */

header figure {
  text-align: center;
}

header figcaption {
  text-align: left
}


img {
  width: auto;
  max-width: 100%;
  height: auto;
}


/* --- class selector --- */
.italic {
  font-style: italic;
}
/*

/* class selector */

#ingredients {
  background: #ccc;
  padding: 1em;
}

#ingredients ul {
  list-style: circle;
  padding-left: 1em;
}

#ingredients li {
  color: #fff;
  line-height: 1.5;
  margin-top:.5em;
}
