/* --- global styles --- */



/* --- resets --- */

body,
figure,
figcaption {
  margin: 0;
}

body {
  background-color: #9cf;
}
article {
  margin: 2em 10em 2em 10em;  /* top right bottom left */
  font-family: sans-serif;
  font-size: 1em;
}


/* flexible images */

img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle; /* remove descender spacing under photo between border */
}

/* nav */
nav {
  margin: 2em 3em;
}

nav ul {
  list-style: none;
  padding-top: .5em;
  padding-left: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin: 0 .125em;
}

nav a {
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  padding: 1em;
  border: 2px solid #fff;
  border-radius: .7em;
}

nav a:hover,
nav a:focus {
  background-color: #ccf;
}

h1 {
  padding: .5em 0;
  margin: 1em 2em 1em 2em;
  border: double #fff;
  border-width: .2em;
  text-align: center;
  font-family: sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: #609;
}


/* fig-1 */

/*#fig-1 {
  max-width: 60em;   /* max-width of img and border */
/*  margin: 0 auto;    /* centering image */
/*}

#fig-1 div {
  border: 1em solid #fff;
} */



#image {
  width: 24em;
  height: 24em;
  margin: 0 auto;
  overflow: hidden;
}


header figcaption {
  text-align: left;
  padding-top: .5em;
  font-size: .75em;
  font-family: sans-serif;
}



/* class selector */

#introduction {
  padding: 1em;
  text-align: left;
  color: #609;
  font-family: sans-serif;
  font-size: 1.1em;
  border-bottom: .27em double #fff;
}

#details {
  padding: 2em 3em 1em 7em;
  font-size: 1em;
}

#details ul {
  list-style: disc;
  padding-left: 1em;
}

#details li {
  color: #000;
  list-style: circle;
  line-height: 1.5;
}


#ingredients {
  padding: 0 3em 1em 7em;
}

#ingredients ul {
  list-style: circle;
  padding-left: 1em;
}

#ingredients li {
  color: #000;
  line-height: 1.5;
  margin-top:.5em;
}



#directions {
  padding: 0 3em 1em 7em;
}

#directions ol {
  list-style: ;
  padding-left: 1em;
}

#directions li {
  color: #000;
  line-height: 1.5;
  margin-top: .5em;
}


#additional-information {
  padding: 2em 1em 1em 7em;
  color: #000;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #609;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
  color: #609;
}

#ingredients,
#directions {
  float: left;
  width: 100%;
}
